@import './variables';

.coding {
  cursor: default;
}

.coding--editable {
  border: 1.5px dotted $primary-color;
  padding: 2px 5px;
  margin: 5px;
  background: rgb(237, 237, 237);

  .wiki-addon--dark & {
    color: rgba(255, 255, 255, 0.8);
    border: 2px dotted white;
    background: #4b4b4b;
  }
}

.coding-line {
  font-family: Consolas, monospace;
  line-height: 1.5;
  //white-space: pre;
}

.content-box--no-coding-selection .coding {
  &,
  * {
    user-select: none;
  }
}

pre {
  min-width: 500px;
  max-width: 1200px;
  white-space: pre-wrap !important;
}

.inline > code[class*='language-'] {
  padding: 4px 6px !important;
  margin: 0 3px;
}

blockquote.quote {
  position: relative;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  padding: 5px 16px;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  margin: 13px 10px 13px 0;
  color: $dark-grey;

  p {
    margin: 14px 0 !important;
  }
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;

  &.alert--info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  &.alert--success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.alert--warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  &.alert--danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  p {
    margin: 14px 0;

    &:first-child {
      margin-top: 5px;
    }

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.adt-link {
  padding: 3px 5px;
  margin: 3px 5px;
  border: 1px blue dashed;
  background: rgba(0, 0, 0, 0.05);
  font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.adt-link--parse-error {
  color: red;
  font-weight: 400;
}

.adt-link-icon {
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin: 0 5px;
}

.ms-rte-layoutszone-inner {
  blockquote.quote,
  .alert {
    max-width: 1200px;
  }
}
